SQLALCHEMY_ECHO = False
DEBUG = True

SQLALCHEMY_DATABASE_URI = 'sqlite:///database.db'
SERVER_URL = 'http://127.0.0.1:5000/'

MQTT_BROKER_URL = 'driver.cloudmqtt.com'
MQTT_BROKER_PORT = '18912'
MQTT_USERNAME = 'dfjlrctd'
MQTT_PASSWORD = '4j_dNmGV_0XS'
MQTT_TOPIC = 'imm'
MQTT_KEEPALIVE = 5
MQTT_TLS_ENABLED = False


