.outer{
    text-align: center;
}
.inner{
    width: auto;
    display: inline-block;
    text-align: left;
}
.block {

    display: inline-block;
    /*width: 350px;*/
    /*height: 8em;*/
    float: left;
    border: 1px solid black;
    background: white;
    color: black;
    padding: 5px 10px;
    margin: 5px 5px;
}
.block div{
    margin: 2px;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
}
span.label{
    display: inline-block;
    width: 130px;
    font-weight: bold;
    overflow: hidden;
}
span.value{
    display: inline-block;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
}


.status-green{
  background-color: lightgreen;
}

.status-red{
  background-color: red;
}

.status-orange{
  background-color: orange;
}

.status-blue{
  background-color: blue;
}

.status-gray{
  background-color: silver;
}

.status-unknown{
  background-color: plum;
}

.status-yellow{
  background-color: yellow;
}

.status-blink {
  background-color: yellow;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: 1s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
}

@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.3; }
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.3; }
}

#sensorTemlate {
display: none;
}