.outer{
    text-align: center;
}
.inner{
    width: auto;
    display: inline-block;
    text-align: left;
}
.block {
    display: inline-block;
    /*width: 350px;*/
    /*height: 8em;*/
    float: left;
    border: 1px solid black;
    background: white;
    color: black;
    padding: 5px 10px;
    margin: 5px 5px;
}
.block div{
    margin: 2px;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
}
span.label{
    display: inline-block;
    width: 130px;
    font-weight: bold;
    overflow: hidden;
}
span.value{
    display: inline-block;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
}