{% extends "bootstrap/base.html" %}
{% block styles %}
<link href="/admin/static/bootstrap/bootstrap4/swatch/superhero/bootstrap.min.css?v=4.2.1"
      rel="stylesheet">
<link href="/static/styles.css"
      rel="stylesheet">
<link href="/admin/static/admin/css/bootstrap4/admin.css?v=1.1.1" rel="stylesheet">
<link href="/admin/static/bootstrap/bootstrap4/css/font-awesome.min.css?v=4.7.0" rel="stylesheet">{% endblock %}
{% block title %}Photo Finish{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">

</div>
{% endblock %}

{% block content %}
  <h1>TEST</h1>
{% endblock %}