{% extends "base.html" %}
{% block styles %}
<link href="{{url_for('.static', filename='styles.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='scripts.js')}}"></script>
<script src="{{url_for('.static', filename='socket.io.min.js')}}"></script>
<script language="JavaScript">
  document.addEventListener("DOMContentLoaded", () => {
    initSystem();
  });
</script>
{% endblock %}
{% block content %}
<div class="outer">
    <div class="inner"  id="content">
    </div>
</div>
<div id="sensorTemlate">
    <div class="block" id="block-{sensor.id}">
        <div><span class="label">номер</span><span class="value value-number"></span></div>
        <div><span class="label">модель</span><span class="value value-model"></span></div>
        <div><span class="label">п/ф</span><span class="value value-pressform"></span></div>
        <div><span class="label">продукт</span><span class="value value-product"></span></div>
        <div><span class="label">кол. гнёзд</span><span class="value value-cnt_sockets"></span></div>
        <div><span class="label">акт. кол. гнёзд</span><span class="value value-active_sockets"></span></div>
        <div><span class="label">время цикла</span><span class="value value-cycle_time"></span></div>
        <div><span class="label">акт. время цикла</span><span class="value value-cycle_active_time"></span></div>
    </div>
</div>

{% endblock %}
