{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{ super() }}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
  <form class="form-inline">
    <div class="form-group mb-2">
      <img src="/static/img/logo.png" style="width:300px">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" multiple="1">
        <label class="custom-file-label" for="customFile">Choose files</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2" onclick="uploadFiles()">Upload!</button>
  </form>
  <div class="progress">
    <div style="display: none" id="progress" class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
  </div>
<div id="resultBox">
  <div>
  </div>
</div>
<script language="JavaScript">
function uploadFiles(){
   var formData = new FormData($(this).form);
      $.ajax({
       url: '/test/file_capture',
       success: function (e) {
       },
       error: function (e) {
         alert('error ' + e.message);
       },
       data: formData,
       cache: false,
       contentType: false,
       processData: false
    });
}
</script>
{% endblock %}